@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Nunito+Sans:wght@200;400;500;600&family=Work+Sans:wght@200;400;500;600&display=swap");

.App {
  text-align: center;
  box-sizing: border-box;
  padding-inline: 20px;
  font-family: "Work Sans", sans-serif;
  background-color: #30386b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,633,459)'%3E%3Cstop offset='0' stop-color='%2330386B'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.filter {
  background-color: #00000036;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(120deg, #2b3361, #111113);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(207, 214, 218);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: aliceblue;
}

/*----------------------navBar-------------------------*/

#navLogo {
  width: 55px;
  margin: 10px;
}

#navBar {
  font-size: 1.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navButton {
  color: aliceblue;
  border-radius: 20px;
  padding: 5px;
  padding-inline: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.151);
  margin-inline: 10px;
}

.buttonContainer {
  width: auto;
}

#cerca {
  background-color: rgba(0, 0, 0, 0.151);
  color: aliceblue;
  border-radius: 20px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
}

#cerca::placeholder {
  padding-left: 5px;
  color: rgb(240, 248, 255);
}

#cerca:focus {
  outline: none;
  border: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #navBar {
    flex-direction: column;
  }

  #navbar {
    margin-top: 20px;
  }
}

.navLayout {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
  font-size: 1.3rem;

  text-decoration: none;
}

.homeButton {
  max-width: 200px;
  transition: 0.3s;
}

.homeButton:hover {
  background-color: rgba(0, 0, 0, 0);
}

/*----------------------Home-------------------------*/

#assembla {
  font-size: 4rem;
  transition: 0.5s ease;
  color: aliceblue;
  font-weight: 600;
  margin-bottom: 100px;
  cursor: pointer;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
#assembla:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
}

#estremoGaming {
  margin-bottom: 60px;
}

#home {
  color: aliceblue;
}

.rem18 {
  width: 18rem;
}

/*----------------------Dropdown-------------------------*/

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: aliceblue;
}

.MyDropdown {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
  font-size: 1.3rem;
}
.MyDropdown::after {
  display: none;
}

.dropdownItem {
  text-decoration: none;
  font-size: 1.1rem;
  color: aliceblue;
  font-weight: 500;
  color: white;
}

.dropdown {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
}

.dropdown-menu-primary {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  color: white;
}

.dropdown-item {
  color: aliceblue;
}

.dropdown-item:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 1.2rem;
}

.show {
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show::after {
  display: none;
}

/*----------------------footer-------------------------*/

.footer {
  margin-top: 90px;
}
.footerItem {
  color: rgb(218, 218, 218);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.footerItem:hover {
  color: white;
}
.underFooter {
  color: rgb(202, 202, 202);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.iconaCursore {
  margin-right: 5px;
  margin-bottom: 3px;
}

.topFooter {
  margin-bottom: 30px;
}
.cp {
  font-size: 0.9rem;
}

/*----------------------intel o amd-------------------------*/

.logoBox img {
  width: 90%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
.logoBox {
  border-radius: 25px;

  margin-inline: 23px;
  background: radial-gradient(#16161657 0%, #0000002f 100%);

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  padding: 30px;
  transition: 0.3s;
  border: none;

  margin-inline: auto;
}

.intel img {
  width: 60%;
}

/*----------------------freccia-------------------------*/

/* Stile della freccia */
.frecceDiv {
  display: flex;
  justify-content: space-between;
  margin-right: 4%;
  margin-top: 20px;
  transition: 3s ease-in-out;
}

.freccia {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  width: 100%;
  font-size: 1.3rem;
  border: 2px solid aliceblue;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  padding: 14px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* Stile della freccia verso destra */
.freccia::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

/* Stile della freccia verso sinistra */
.freccia-sinistra::after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 14px;
  left: -250px;
  transition: 0.5s;
}

/* Stile della freccia quando il mouse è sopra */
.freccia:hover {
  padding-right: 24px;
  padding-left: 0px;
}

.freccia-sinistra:hover {
  padding-right: 0px;
  padding-left: 40px;
}

/* Stile della punta della freccia verso destra quando il mouse è sopra */
.freccia:hover::after {
  opacity: 1;
  right: 10px;
}

/* Stile della punta della freccia verso sinistra quando il mouse è sopra */
.freccia-sinistra:hover::after {
  opacity: 1;
  left: -170px;
}

/* Freccia verso sinistra */

/*----------------------totalPrice-------------------------*/
.selPrice {
  position: relative;
}

.selezionaScritta {
  text-align: center;
  display: inline;
}
.totalPrice {
  position: absolute;
  top: 0px;
  right: 0;
  font-weight: 500;
  font-size: 1.75rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-right: 5px;
}

@media (max-width: 758px) {
  .selPrice {
    display: flex;
    flex-direction: column;
  }

  .totalPrice {
    position: inherit;
  }
}

/*----------------------selezionaScritta-------------------------*/
.selezionaScritta {
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

/*----------------------notFound-------------------------*/
.notFound {
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/*----------------------preassemblatiContainer-------------------------*/

.preassemblatiContainer {
  display: flex;
  justify-content: space-around;
}

/*----------------------cards-------------------------*/

.blue-card {
  background: linear-gradient(180deg, rgba(49, 104, 175, 0.87), rgb(0, 0, 0));
}
.red-card {
  background: linear-gradient(180deg, rgba(175, 106, 49, 0.87), rgb(0, 0, 0));
}

.card {
  color: aliceblue;
  border: none;
}

.card img {
  height: 100%;
}

.card-body {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.863);
}

/*----------------------riepilogo-------------------------*/
.containerRiepilogo {
  display: flex;
  margin-bottom: 60px;
}
.riepilogo {
  font-size: 1.3rem;
  width: 45%;
}

.fps {
  width: 45%;
}

.fps img {
  width: 50px;
  height: 50px;
}

.gioco {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.giocoM {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.resolution-button {
  border: 2px solid aliceblue;
  background-color: aliceblue;
  margin-inline: 5px;
  border-radius: 6px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .containerRiepilogo {
    display: flex;
    flex-direction: column;
  }

  .riepilogo {
    width: 90%;
  }

  .fps {
    width: 90%;
  }
}
/*----------------------paypal-------------------------*/
#zoid-paypal-buttons-uid_fc26d34389_mtq6ntq6mty div:first-child div {
  width: 50%;
}

@media (max-width: 758px) {
  #zoid-paypal-buttons-uid_fc26d34389_mtq6ntq6mty div:first-child div {
    width: 100%;
  }
}

/*----------------------generali-------------------------*/
/*----------------------info-------------------------*/

.info {
  border-radius: 25px;
  font-size: 1.3rem;
  margin-inline: 23px;
  background: radial-gradient(#0000005d 0%, #07081083 70%);
  color: aliceblue;

  padding: 30px;
  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: 2px solid aliceblue;
  margin-top: 70px;
  max-width: 1300px;
  margin-inline: auto;

  backdrop-filter: blur(10px);
}

/*----------------------sceltaComponenti-------------------------*/
.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divButton {
  border-radius: 25px;
  background: radial-gradient(#0000005d 0%, #07081083 70%);
  cursor: pointer;

  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.781);
  border: none;
  margin-inline: auto;
  padding: 30px;
  color: aliceblue;
  border: 2px solid aliceblue;
  height: 100%;
  backdrop-filter: blur(5px);
}

.divButton:hover {
  box-shadow: 0 0 10px 10px rgba(145, 145, 145, 0.4);
}

.onClickDiv {
  flex: 1;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected {
  background: radial-gradient(#ffffffc7 0%, #f7f7f798 70%);
  color: rgb(32, 32, 32);
  text-shadow: 1px 1px 10px rgba(211, 211, 211, 0.288);
  border: 2px solid rgb(32, 32, 32);
  font-weight: 500;
}

.buildSelected {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.9);
}

.logoBox:hover {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.9);
}

/*----------------------Preassemblato detail-------------------------*/
.preassemblatoContainer {
  border-radius: 25px;
  font-size: 1.3rem;

  background: radial-gradient(#0000005d 0%, #07081083 70%);
  color: aliceblue;

  padding: 30px;
  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: 2px solid aliceblue;
  margin-top: 70px;
  max-width: 500px;

  margin-bottom: 80px;
  backdrop-filter: blur(10px);
}

/* Stile per l'immagine AMD */
.amd-background {
  background: linear-gradient(180deg, rgba(175, 106, 49, 0.87), rgb(0, 0, 0));
  /* Altri stili desiderati */
}

/* Stile per l'immagine Intel */
.intel-background {
  background: linear-gradient(180deg, rgba(49, 104, 175, 0.87), rgb(0, 0, 0));
}

.btn-light {
  text-shadow: none;
  font-weight: 500;
  background-color: aliceblue;
}
.dettagliPreassemblato img {
  width: 250px;
}
.dettagliPreassemblato {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .dettagliPreassemblato img {
    display: none;
  }
}
/*----------------------Assistenza-------------------------*/
.form-control {
  border: none;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  padding-block: 7px;
}

.form-control:focus {
  outline: none;
  border-color: #ffffff;
}

.assistenzaContainer {
  width: 50%;
}
@media (max-width: 1100px) {
  .assistenzaContainer {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .assistenzaContainer {
    width: 100%;
  }
}
.assistenzaButton {
  padding-inline: 30px;
  padding-block: 8px;
  font-weight: 500;
  font-size: 1.3rem;
}
