@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Nunito+Sans:wght@200;400;500;600&family=Work+Sans:wght@200;400;500;600&display=swap");

.App {
  text-align: center;
  background: linear-gradient(120deg, rgb(81, 220, 255), rgb(138, 77, 156));
  box-sizing: border-box;
  padding-inline: 20px;
  font-family: "Work Sans", sans-serif;
}

.filter {
  background-color: #00000036;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(120deg, #7d6db2, #89509e);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.29);
}

/*----------------------navBar-------------------------*/

#navLogo {
  width: 65px;
  margin: 10px;
}

#navBar {
  font-size: 1.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navButton {
  color: aliceblue;
  border-radius: 20px;
  padding: 5px;
  padding-inline: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.151);
  margin-inline: 10px;
}

.buttonContainer {
  width: auto;
}

#cerca {
  background-color: rgba(0, 0, 0, 0.151);
  color: aliceblue;
  border-radius: 20px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
}

#cerca::placeholder {
  padding-left: 5px;
  color: rgb(240, 248, 255);
}

#cerca:focus {
  outline: none;
  border: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #navBar {
    flex-direction: column;
  }

  #navbar {
    margin-top: 20px;
  }
}

.navLayout {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
  font-size: 1.3rem;

  text-decoration: none;
}

.homeButton {
  max-width: 200px;
  transition: 0.3s;
}

.homeButton:hover {
  background-color: rgba(0, 0, 0, 0);
}

/*----------------------Home-------------------------*/

#assembla {
  font-size: 4rem;
  transition: 0.5s ease;
  color: aliceblue;
  font-weight: 600;
  margin-bottom: 100px;
  cursor: pointer;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
#assembla:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
}

#estremoGaming {
  margin-bottom: 60px;
}

#home {
  color: aliceblue;
}

.rem18 {
  width: 18rem;
}

.card {
  background: linear-gradient(180deg, rgba(209, 252, 255, 0.658), white);
  color: #161617;
  border: none;
}

/*----------------------Dropdown-------------------------*/

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: aliceblue;
}

.MyDropdown {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  box-sizing: border-box;
  padding-inline: 20px;
  width: 100%;
  font-size: 1.3rem;
}
.MyDropdown::after {
  display: none;
}

.dropdownItem {
  text-decoration: none;
  font-size: 1.1rem;
  color: aliceblue;
  font-weight: 500;
  color: white;
}

.dropdown {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
}

.dropdown-menu-primary {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  color: white;
}

.dropdown-item {
  color: aliceblue;
}

.dropdown-item:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.904);
  font-size: 1.2rem;
}

.show {
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show::after {
  display: none;
}

/*----------------------footer-------------------------*/

.footer {
  margin-top: 90px;
}
.footerItem {
  color: rgb(218, 218, 218);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.footerItem:hover {
  color: white;
}
.underFooter {
  color: rgb(202, 202, 202);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.iconaCursore {
  margin-right: 5px;
  margin-bottom: 3px;
}

.topFooter {
  margin-bottom: 30px;
}
.cp {
  font-size: 0.9rem;
}
/*----------------------info-------------------------*/

.info {
  border-radius: 25px;
  font-size: 1.3rem;
  margin-inline: 23px;
  background: radial-gradient(#16161657 0%, #0000002f 100%);
  color: aliceblue;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  margin-top: 70px;
  max-width: 1300px;
  margin-inline: auto;
}

.info:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.438);
}

/*----------------------intel o amd-------------------------*/

.logoBox img {
  width: 90%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
.logoBox {
  border-radius: 25px;

  margin-inline: 23px;
  background: radial-gradient(#16161657 0%, #0000002f 100%);

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  padding: 30px;
  transition: 0.3s;
  border: none;

  margin-inline: auto;
}

.logoBox:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}
.selected {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}

.intel img {
  width: 60%;
}

/*----------------------freccia-------------------------*/

.avantiDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-top: 20px;
  transition: 3s ease-in-out;
}

.freccia {
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 20px;
  color: aliceblue;
  padding: 5px;
  border: none;
  box-sizing: border-box;

  width: 100%;
  font-size: 1.3rem;

  text-decoration: none;
}
.freccia {
  text-align: center;
  font-size: 28px;
  padding: 14px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.freccia {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.freccia:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.freccia:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.freccia:hover:after {
  opacity: 1;
  right: 10px;
}

/*----------------------sceltaComponenti-------------------------*/
.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divButton {
  border-radius: 25px;
  background: radial-gradient(#16161657 0%, #0000002f 100%);
  cursor: pointer;

  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: none;
  margin-inline: auto;
  padding: 30px;
  color: aliceblue;
}

.divButton:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}

.onClickDiv {
  flex-grow: 1;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*----------------------totalPrice-------------------------*/
.selPrice {
  position: relative;
}

.selezionaScritta {
  text-align: center;
  display: inline;
}
.totalPrice {
  position: absolute;
  top: 0px;
  right: 0;
  font-weight: 500;
  font-size: 1.75rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-right: 5px;
}

@media (max-width: 758px) {
  .selPrice {
    display: flex;
    flex-direction: column;
  }

  .totalPrice {
    position: inherit;
  }
}

/*----------------------selezionaScritta-------------------------*/
.selezionaScritta {
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 2rem;
}

/*----------------------notFound-------------------------*/
.notFound {
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
